.header {
    display: flex;
    flex-direction: column;
   padding-top: 130px;
    padding-bottom: 100px;
    font-family: 'PT Mono', monospace;
}

.content {
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.title {
    
    padding: 20px 20px;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: rgb(39, 39, 39);
    font-size: 1.3em;
    font-weight: lighter;
    align-self: flex-end;
}

.description {
    font-size: .7em;
    line-height: 1.7em;
    display: flex;
    padding-top: 7px;
    color: rgb(39, 39, 39);
    border-top: 2px solid #707070;

   
}

.btn {
    padding: 10px 20px;
    background: #4e718a;
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
    border-radius: 7px;
    font-family: 'PT Mono', monospace;
    color: #FCF4E7;
    align-self: center;
    margin-top: 20px;
}


.pic {
    background-image: url(./photos/cc.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 25vh;
    height: 25vh;
    margin: 10vh 0 0 2vw;
    position: static;
}  

