.header {
    display: flex;
    flex-direction: column;
    padding: 130px 40px 100px 40px;
    font-family: 'PT Mono', monospace;
    
}

.content {
    margin: 0 20px 0 20px;
    display: flex;
   flex-direction: column;
  
}

.title {
    
    padding: 20px;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: rgb(39, 39, 39);
    
    font-weight: lighter;
    align-self: flex-end;
}

.description {
    font-size: .7em;
    line-height: 1.7em;
    display: flex;
    padding-top: 7px;
    color: rgb(39, 39, 39);
    border-top: 2px solid #707070;

   
}

.btn {
    padding: 5px 10px;
    background: #4e718a;
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
    border-radius: 7px;
    font-family: 'PT Mono', monospace;
    align-self: center;
    margin-top: 20px;
	border: none;
    font: inherit;
    outline: inherit;
}

.btn-link {
    text-decoration: none;
    color: #FCF4E7;
    font-size: .9rem;

}


.pic {
    background-image: url(./photos/cc.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 140px;
    height: 140px;
    margin: 10vh 0 0 2vw;
    position: static;
    /* background-attachment: fixed; */
    
}  

@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 130px 60px 100px 60px;
    }
    .content {
        flex: 2;
        margin-left: 40px;
    }
    .pic {
        max-width: 400px;
        height: 400px;
        min-width: 400px;
        flex: 1;
        background-attachment: scroll;
        position: static;
        margin-right: 40px;
        
    }

    .title {
        padding: 40px;
        font-size: 2.2rem;
    }

    .description {
        font-size: 1.1rem;
    }
}
