<div class="header">
    <div class="pic"></div>
    <div class="content">
        <h1 class="title">Cassidy Cecott</h1>
        <p class="description">
            I am a Frontend Web Developer eager to
            bring my newly honed technical skills to a company
            looking for a Junior Developer with grit. The future is built with
            technology, and I want to build it. I am always looking to push
            myself, and I'm very interested in studying new languages
            and programs. </p>


        <!-- come back here last, how to link a pdf document ???? -->
        <a href="/Users/ccecott/Desktop/portfolio/src/assets/Cecott_ Resume_MI.pdf" target="_blank"><button
                class="btn">Resume</button></a>
    </div>

</div>