<app-nav></app-nav>
<div class="about">
    <p class="evelvator-pitch">
        My name is Cassidy Cecott and I am a Frontend Web Developer. Before I made the transition to the tech field,
        I was a veterinary assistant and technician at the medical college of wisconsin. I worked in the research
        department andI loved what I did. But I knew it wasn’t my passion and I had a ceative muscled I wanted to flex.
        I would spend my nights, sometimes a little later than I should have, on my computer learning how to code.
        Programming
        gave me the creative outlet that I didn’t have at my day job. Since changing career paths, I find I get the
        question,
        "Why such a drastic change of career paths?" more often than not. The only answer I have for that is the fact I
        don't
        want to work a day in my life. And if I am passionate about what I do, I'll never have to.<br>

        <br>Working in the animal health industry, I've gained a lot of team oriented skills. I am able to funciton
        in a high stress, team centered enviornment. I am able to keep calm, and remain detail oriented while also
        having compassion for
        team members around me because of the simple fact that they are humans with their own stressors. I don't think I
        would have
        learned that if I didn't work in such an emotional enviornment.<br>

        <br>After programming religiously for over a year and I finally decided I needed to
        make the leap to change my career path and jump in head first. After losing my job due to COVID-19, I figured
        there was no
        time like the present to focus on bettering my future. I decided to join Grand Circus, a 12 week full-time
        intensive
        software engineering program. I learned new skills as well as adding onto ones I already had. I’m now proficient
        in
        HTML, CSS, JavaScript, Angular, and Node.js. I also have relevant backend skills such as pgAdmin and SQL and I
        am eager and
        willing to learn more backend languages and programs.<br>

        <br>I am over the moon to start my career in tech and have the opportunity to work in a field that keeps me
        constantly
        progressing and learning. I would love to connect with you on LinkedIn or email to keep up to date on your
        company and the tech industry.

    </p>
</div>