<app-nav></app-nav>
<div class="projects-container">
    <a href="https://moviespot-cc.surge.sh/home" target="_blank" class="anchor">
        <div class="project_link one">

            <p class="project_title">Movie Spot</p>

        </div>
    </a>
    <a href="https://todolist-cecott.surge.sh" target="_blank" class="anchor">
        <div class="project_link two">


            <p class="project_title">TODO</p>

        </div>
    </a>
    <a href="https://tentsntrails.surge.sh" target="_blank" class="anchor">
        <div class="project_link three">
            <p class="project_title">Tents N Trails</p>
        </div>
    </a>

</div>
<!-- <app-footer></app-footer> -->






<!-- <app-footer></app-footer> -->