.nav {
    height: 10vh;
    background:linear-gradient(rgba(245, 221, 184, 0.97),rgba(232, 205, 165, 0.97)) ; 
    border-bottom: 1.5px ridge rgb(63, 63, 63);
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Mono', monospace;
}

.move {
    /* display: flex;
    justify-content: space-between; */
   display: flex;
   /* justify-content: space-between; */
}

.fa-desktop {
    padding-left: 20px;
    color: black;
}

.nav_links {
    display: flex;
    padding-right: 50px;
    
}



.link {
    font-size: .7em;
    text-decoration: none;
    padding-left: 10px;
    color: black;
    
}