.contact-info {
    padding: 100px 0 0 80px ;
    /* margin: 90px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.contact {
    font-size: 1.5em;
}
.contact-title {
    font-size: 1em;
}
.info {
    text-decoration: none;
    text-emphasis: none;
    /* color: black; */
}