<app-nav></app-nav>
<div class="contact-info">
    <h1 class="contact">
        Contact Me
    </h1>
    <h2 class="contact-title">
        Email
    </h2>
    <!-- any way to link to email popup? -->
    <a href="mailto:casscecott@gmail.com">
        <p class="info">casscecott@gmail.com</p>
    </a>

    <h2 class="contact-title">
        Cell Phone
    </h2>
    <p class="info">(262) 666-0934</p>
    <h2 class="contact-title">
        LinkedIn
    </h2>
    <a href="https://www.linkedin.com/in/cassidy-cecott/" target="_blank" class="info">
        <p>Cassidy Cecott</p>
    </a>
</div>
<!-- when hosting on the backend, create a database for form submissions with people wanting to conact you???-->
<!-- <div class="form">

</div> -->