.contact-info {
    padding: 100px 0 300px 80px ;
    /* margin: 90px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: 'PT Mono', monospace;
    height: 50vh;

}
.contact {
    padding-top: 20px;
    font-size: 1.5em;
    font-family: 'PT Mono', monospace;

}
.contact-title {
    padding-top: 20px;
    font-size: 1rem;
    font-family: 'PT Mono', monospace;

}
.info {
    padding-top: 3px;
    text-decoration: none;
    text-emphasis: none;
    font-family: 'PT Mono', monospace;

    /* color: black; */
}
app-footer{
    bottom: 0;
}