<app-nav></app-nav>
<app-header></app-header>
<div class="main">
    <h2 class="title">Projects</h2>
    <div class="projects">

        <!-- need to figure out padding or margin of some sort to keep the frist div from disappearing, 
also need to add in the webkits to allow all browsers to access the scrolling function.
Why does scrolling function stop on the left margin and I lose the divs past there? -->

        <div class="project_link">
            <p class="project_title">Test</p>
        </div>
        <a href="https://cassiesproject.surge.sh/home" target="_blank" class="anchor">
            <div class="project_link one">

                <p class="project_title">Movie Hub</p>

            </div>
        </a>
        <a href="" target="_blank" class="anchor">
            <div class="project_link two">

                <!-- WHAT IS THE LINK FOR MY TODO PROJECT >:( -->

                <p class="project_title">TODO</p>

            </div>
        </a>
        <a href="https://tentsntrails.surge.sh" target="_blank" class="anchor">
            <div class="project_link three">
                <p class="project_title">Tents N Trails</p>
            </div>
        </a>
        <div class="project_link">
            <p class="project_title">Test</p>
        </div>
        <div class="project_link ">
            <p class="project_title">Test</p>
        </div>
    </div>

    <!-- <img src="./photos/soft-vibe.jpeg" alt="gg"> -->

</div>
<app-footer></app-footer>