
.resume {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    padding: 50px;
    
    /* margin-right: 60px; */
    margin: 100px;
    position: static;
    border: 1px solid black;
    /* width: 200px; */
    height: 330vh;
    background-color: white;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1rem;
}
p {
    font-size: 1rem;
}
li {
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .resume {
        height: 240vh;
    }
}