<app-nav></app-nav>
<div class="resume">
    <h1>Cassidy Cecott</h1>
    <h2>Frontend Web Developer</h2>
    <p>casscecott@gmail.com | (262) 666-0934 | Detroit, MI | <a
            href="https://www.linkedin.com/in/cassidy-cecott/">LinkedIn</a> | <a
            href="https://github.com/ccecott">GitHub</a>
    </p>
    <h3>Summary</h3>
    <p>Before I decided to transition my career into tech, I was very passionate about the animal field. I liked
        what I did but there was never much room for creativity, so as a creative outlet I started to learn how to code
        after work. After coding for a while, I found it was my real passion and decided to join a 12 week, accelerated,
        and fully immersive front end program with Grand Circus. So far I’ve learned how to properly intertwine HTML,
        CSS,
        and JavaScript to make them function seamlessly. I’m very excited to be able to use these newly honed skills, my
        ability to problem solve, and my passion for creativity to be a great addition to a team.</p>
    <h3>Education</h3>
    <h4>Grand Circus Frontend Bootcamp Detroit, MI</h4>
    <p>April 2020 – June 2020</p>
    <h3>Projects Include:</h3>
    <p><a href="https://ccecott.github.io/JAVASCRIPT-PROJECT-POS/#" target="_blank">[POS]</a><br>
        <a href="https://moviespot-cc.surge.sh/home" target="_blank">[ANGULAR MOVIE]</a><br>
        <a href="https://tentsntrails.surge.sh" target="_blank">[TENTS N TRAILS]</a> </p>
    <h4>UW Parkside, Kenosha, WI </h4>
    <p>August 2019 – January 2020</p>
    <h3>Technical Skills</h3>
    <ul>
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>Git/Github</li>
        <li>Adobe XD</li>
        <li>Angular</li>
        <li>SQL</li>
        <li>Typescript</li>
        <li>Web APIs</li>
        <li>Node.JS</li>
        <li>Postman</li>
        <li>UX/UI Wireframing</li>
        <li>Visual Studio Code</li>
    </ul>
    <h3>Professional Experience</h3>
    <h4>Lab Animal Technician 1 </h4>
    <p>
        The Medical College of Wisconsin
    </p>
    <ul>
        <li>Part of a team to oversee entire research facility to promote more efficient ways to complete husbandry</li>
        <li>Daily care of over 500 research animals by checking individual animal health to ensure consistent and
            reliable
            data for lab staff while also completing wellness reports in accordance with AALAS standards</li>
    </ul>

    <h4>Dog Handler/ Trainer</h4>
    <p>Pet University</p>
    <ul>
        <li>Chosen to supervise dog handlers in all 3 locations during company merger</li>
        <li>Worked on a separate team of 4 trainers to perform daily in house seminars with clients to solidify training
            methods established with animals to reduce turnover rates
        </li>
    </ul>
    <h4>Vet Assistant</h4>
    <p>The Veterinary Clinic of Tinley Park</p>
    <ul>
        <li>Assisting with surgery and x-rays of small animals, including proper restraint techniques for injured or
            aggressive animals to ensure the health and safety of both the animal and the veterinary staff
        </li>
        <li>Filling prescription medications for patients as directed by the on staff doctor, being able to troubleshoot
            to obtain missing prescription information
        </li>
    </ul>


</div>